{% load humanize %}

<div class="col-xs-12">
  <div class="row">
    <div class="col-xs-2 col-sm-1 col-md-1 text-center">
      {# Si on est sur le wall_home) #}
      {% if wall = wall_home %}
        <a href="{% url 'social:wall-profile-view' comment.author %}">
          <img class="not_dotted" src="{{ comment.author.avatar.url }}" width="35">
        </a>
      {# Sinon #}
      {% else %}
        {# Si l'utilisateur connecté est l'auteur du commentaire #}
        {% if comment.author = wall.profile %}
          <img src="{{ comment.author.avatar.url }}" width="35">
        {% else %}
          <a class="not_dotted" href="{% url 'social:wall-profile-view' comment.author %}">
            <img src="{{ comment.author.avatar.url }}" width="35">
          </a>
        {% endif %}
      {% endif %}
    </div>
    <div class="col-xs-10 col-sm-11 col-md-11">
      {# Si l'utilisateur connecté n'est pas l'auteur du commentaire ou si on est sur le wall_home) #}
      {% if comment.author != wall.profile or wall = wall_home %}
        <a class="username" href="{% url 'social:wall-profile-view' comment.author %}"><b>{{ comment.author }}</b></a>
      {% else %}
        <b>{{ comment.author }}</b>
      {% endif %}
      <p><i class="date">{{ comment.submit_date|naturaltime|capfirst }}</i></p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-10 col-sm-11 col-md-11 col-xs-offset-2 col-sm-offset-1">
      <p>{{ comment.content }}</p>
    </div>
  </div>
</div>
