<div class="col-xs-12">
  <!-- <a href="#comments-{{ post_object.post.pk }}" id="comments-{{ post_object.post.pk }}">hyperlink to comment #{{ post_object.post.pk }}</a> -->
  <form action="" method="POST" role="form">
    {% if post_object.author_comment_form.errors.content %}
    <div class="alert alert-danger">
      <strong>{{ post_object.author_comment_form.errors.content|escape }}</strong>
    </div>
    {% endif %}
    {% csrf_token %}
    <fieldset {% if not user.is_authenticated %}disabled{% endif %}>
      <div class="input-group">
        {% if user.is_authenticated %}
          {{ post_object.author_comment_form.content }}
          {# {{ post_object.author_comment_form.content|safe }} #}
          <input type="hidden" class="form-control" id="author" name="author" value="{{ user.id }}">
          <input type="hidden" class="form-control" id="related_post" name="related_post" value="{{ post_object.post.pk }}">
        {% else %}
          <input type="text" class="form-control" placeholder="Vous devez vous inscrire ou vous connecter pour pouvoir publier un commentaire">
        {% endif %}
        <span class="input-group-btn">
        <button type="submit" class="btn btn-primary" id="submit-user-comment-{{ post_object.post.pk }}" name="submit-user-comment-{{ post_object.post.pk }}">Envoyer</button>
        </span>
      </div>
    </fieldset>
  </form>
</div>