{% load i18n %}

<div class="col-xs-12 comments-block-container">
  <div class="row">
    <div class="col-xs-12 comments-block">
      <div class="row">
        <p>
          <!-- <i class="fa fa-comment" aria-hidden="true"></i> {{ post_object.post.comment_set.count }} commentaire{% if post_object.post.comment_set.count > 1 %}s{% endif %} -->
          <!-- <i class="fa fa-comment" aria-hidden="true"></i> {{ post_object.post.comment_set.count }} {% trans commentaire %} -->
          <i class="fa fa-comment" aria-hidden="true"></i>
            {% with nb_comments=post_object.post.comment_set.count %}
              {% if nb_comments = 0 %}
                {% trans "Pas de commentaire" %}
              {% else %}
                {{ nb_comments }} {% blocktrans count nb=nb_comments %}commentaire{% plural %}commentaires{% endblocktrans %}
              {% endif %}
            {% endwith %}
        </p>

        {% for comment in post_object.post.comment_set.all %}
          <!-- COMMENT BLOCK -->
          {% if comment.is_public and not comment.is_removed %}
            {% include 'social/widgets/comment_block.html' with comment=comment wall=wall_profile %}
          {% endif %}
          <!-- END COMMENT BLOCK -->
        {% endfor %}
        
        <!-- COMMENT FORM -->
        {% include 'social/widgets/comment_form.html' with wall=wall user=user post_object=post_object %}
        <!-- END COMMENT FORM -->

      </div>
    </div>
  </div>
</div>
<div style='clear:both;'></div>