<div class="col-xs-10 col-sm-11 col-xs-offset-2 col-sm-offset-1 comments-block-container">
  <div class="row">
    <div class="col-xs-12 comments-block">
      <div class="row">
        <p>
          <i class="fa fa-comment" aria-hidden="true"></i> {{ post_object.post.comment_set.count }} commentaire{% if post_object.post.comment_set.count > 1 %}s{% endif %}
        </p>

        {% for comment in post_object.post.comment_set.all %}
          <!-- COMMENT BLOCK -->
          {% include 'social/widgets/comment_block.html' with comment=comment wall=wall_profile %}
          <!-- END COMMENT BLOCK -->
        {% endfor %}
        
        <!-- COMMENT FORM -->
        {% include 'social/widgets/comment_form.html' with wall=wall user=user post_object=post_object %}
        <!-- END COMMENT FORM -->

      </div>
    </div>
  </div>
</div>