{% load static %}
{% load i18n %}

<div class="col-xs-12">
  <div class="row">
    <div class="col-xs-2 col-sm-1 text-center">
      {% if user.is_authenticated %}
        {# Si le profil du mur affiché est celui de l'utilisateur connecté #}
        {% if wall.profile = user %}
        <img src="{{ user.avatar.url }}" width="50">
        {% else %}
        <a class="not_dotted" href="{% url 'social:wall-profile-view' user.username %}">
          <img src="{{ user.avatar.url }}" width="50">
        </a>
        {% endif %}
      {% else %}
        <img src="{% static 'social/avatars/default-avatar.png' %}" width="50">
      {% endif %}
    </div>
    <div class="col-xs-10 col-sm-11 clearfix">
      <form action="" method="POST" role="form">
        {% if wall.author_post_form.errors.content %}
        <div class="alert alert-danger">
          <strong>{{ wall.author_post_form.errors.content|escape }}</strong>
        </div>
        {% endif %}
        {% csrf_token %}
        <fieldset {% if not user.is_authenticated %}disabled{% endif %}>
          {% if user.is_authenticated %}
            {{ wall.author_post_form.content }}
            {# {{ wall.author_post_form.content|safe }} #}
            <input type="hidden" class="form-control" id="author" name="author" value="{{ user.id }}">
            <input type="hidden" class="form-control" id="wall" name="wall" value="{% if wall.profile %}{{ wall.profile.id }}{% else %}{{ user.id }}{% endif %}">
          {% else %}
            <input type="text" class="form-control" placeholder="{% trans 'Vous devez vous inscrire ou vous connecter pour pouvoir vous exprimer' %}">
          {% endif %}
          <button type="submit" class="btn btn-primary pull-right" id="submit-user-post" name="submit-user-post">{% trans "Publier" %}</button>
        </fieldset>
      </form>
    </div>
  </div>
</div>