/* line 10, ../sass/style.scss */
body {
  background-color: #E9EBEE;
}

/* line 14, ../sass/style.scss */
.navbar {
  border-radius: 0px;
}

/* line 18, ../sass/style.scss */
.navbar-inverse {
  background-color: #3B5999;
  border: none;
  padding: 0px 20px;
}

/* line 25, ../sass/style.scss */
nav .nav-avatar {
  float: left;
  margin-right: 10px;
}

/* line 31, ../sass/style.scss */
h1 {
  margin-bottom: 20px;
}

/* line 35, ../sass/style.scss */
.username {
  margin-bottom: 0px;
}

/* line 39, ../sass/style.scss */
.date {
  color: #90949c;
}

/* line 44, ../sass/style.scss */
.container a:hover {
  color: #337ab7;
  border-bottom: 1px dotted;
  text-decoration: none;
}
/* line 49, ../sass/style.scss */
.container a.not_dotted {
  border-bottom: none;
}

/* line 54, ../sass/style.scss */
.block-infos {
  margin-top: 10px;
  margin-bottom: 0px;
}

/* line 59, ../sass/style.scss */
.fa-comment {
  margin-left: 15px;
}

/* line 63, ../sass/style.scss */
.comments-block-container {
  padding: 0px 35px 10px 27px;
}
/* line 66, ../sass/style.scss */
.comments-block-container .comments-block {
  border: 1px solid #ccc;
  background-color: #F6F7F9;
  padding: 10px 15px 15px 15px;
}

/* line 73, ../sass/style.scss */
.subscribed-from {
  padding-top: 15px;
}

/* line 77, ../sass/style.scss */
.jumbotron {
  color: #E9EBEE;
  background-color: #3B5999 !important;
  margin-top: 20px;
}

/* line 83, ../sass/style.scss */
ul.messages {
  margin: 0px;
  padding: 0px;
}
/* line 87, ../sass/style.scss */
ul.messages li.success {
  background-color: #19B698;
  border: 1px solid transparent;
  border-color: #0fac8e;
  color: white;
  padding: 15px;
  list-style-type: none;
}

/* line 97, ../sass/style.scss */
ul.errorlist {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}
