/*Custom styles*/

body{
    background-color: #E9EBEE;
}

.navbar{
    border-radius: 0px;
}
.navbar-inverse{
    background-color: #3B5999;
    border: none;
    padding: 0px 20px;
}

/*a.navbar-brand, .navbar-collapse a, .jumbotron{
    color: #E9EBEE!important;
}

a.navbar-brand:hover, .navbar-collapse a:hover{
    color: white!important;
}*/

.nav-avatar{
    float:left;
    margin-right: 10px;
}

h1{
    margin-bottom: 20px;
}

.username{
    margin-bottom: 0px;
}

.date{
    color: #90949c;
}

.container a:hover{
    color: #337ab7;
    border-bottom: 1px dotted;
}

.container a.not_dotted{
    border-bottom: none;
}

.container a:hover{
    text-decoration: none;
}

.block-infos{
    margin-top: 10px;
    margin-bottom: 0px;
}

.top-block{
    margin-top: 10px;
}

.post{
   
}

.infos-user{
    
}

.wall-avatar{
    /*padding-top: 5px;*/
}

.fa-comment{
    margin-left: 15px;
}

.comments-block-container{
    padding: 0px 35px 10px 27px;
}

.comments-block{
    border: 1px solid #ccc;
    background-color: #F6F7F9;
    padding: 10px 15px 15px 15px;
}

.reply-to-post .input-group{
    margin-bottom: 10px;
}

.reply-to-post-date{
    margin-top:-10px;
}

.subscribed-from{
    padding-top: 15px;
}

.jumbotron{
    color: #E9EBEE;
    background-color: #3B5999!important;
    margin-top: 20px;
}

ul.messages{
    margin: 0px;
    padding: 0px;
}

ul.messages li.success{
    background-color: #19B698;
    border: 1px solid transparent;
    border-color: #0fac8e;
    color: #fff;
    padding: 15px;
    list-style-type: none;
}

ul.errorlist{
    /*background-color: #f2dede;*/
    /*color: #a94442;*/
    list-style-type: none;
    padding: 0px;
    margin:0px;
}