{% load static %}
<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Title{% endblock title %}</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'social/css/bootstrap.min.css' %}" />

    <!-- Fonts awesome -->
    <link rel="stylesheet" href="{% static 'social/icons/font-awesome-4.6.3/css/font-awesome.min.css' %}">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'social/css/style.css' %}" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
  <body>
    
    <nav class="navbar navbar-inverse" role="navigation">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-offset-2 col-xs-8">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="{% url 'social:wall-view' %}">OpenFaceRooms<span class="hidden-xs"> - The Wall</span></a>
            </div>

            <div class="collapse navbar-collapse navbar-ex1-collapse">
              <ul class="nav navbar-nav navbar-right">
                <li><a href="{% url 'admin:index' %}" target="_blank">Admin</a></li>
                {% if user.is_authenticated %}
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img class="nav-avatar" src="{{ user.avatar.url }}" width="20"> {{ user.username }} <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="{% url 'social:wall-view' %}">Fil d'actualités</a></li>
                    <li><a href="{% url 'social:wall-profile-view' user.username %}">Mon mur</a></li>
                    <li><a href="{% url 'social:user-profile-update-view' user.pk %}">Mon profil</a></li>
                    <li><a href="{% url 'social:generic-logout' %}">Déconnexion</a></li>
                  </ul>
                </li>
                {% else %}
                <li><a href="{% url 'social:user-profile-signup-view' %}">Signup</a></li>
                <li><a href="{% url 'social:generic-login-view' %}">Connexion</a></li>
                {% endif %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </nav>
    
    <div class="container">
      <div class="row">
    
        <div class="col-xs-12">
          {% if messages %}
            <ul class="messages">
              {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        </div>

        <div class="col-xs-12">
          <h1>{% block h1 %}{% endblock h1 %}</h1>
          {% block content %}{% endblock content %}
        </div>

      </div>
    </div>

    <div class="jumbotron">
      <div class="container text-center">
        Mon super réseau social - Powered by Django
      </div>
    </div>

    <!-- jQuery -->
    <script src="{% static 'social/js/jquery.js' %}"></script>
    <!-- Bootstrap JavaScript -->
    <script src="{% static 'social/js/bootstrap.min.js' %}"></script>

    {% block page_javascript %}
    {% endblock page_javascript %}

  </body>
</html>