{% extends 'social/base.html' %}
{% load i18n %}

{% block title %}Connexion{% endblock %}


{% block h1 %}{% trans "Connexion" %}{% endblock h1 %}


{% block content %}
  {% if request.GET.next %}
  <div class="col-xs-12 alert alert-danger">
    <ul class="errorlist">
      <li >Vous devez vous connecter pour accéder à cette page.</li>
    </ul>
  </div>
  {% endif %}

  {% if not user.is_authenticated %}
  <div class="row">
    <div class="col-xs-12">
      <form method="post" action="{% url 'social:generic-login-view' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="input-group">
          <p>
            <button type="submit" class="btn btn-primary">{% trans "Se connecter" %}</button>
          </p>
          <input type="hidden" name="next" value="{{ request.GET.next }}" />
        </div>
      </form>
    </div>
    <div class="col-xs-12">
      <p>{% trans "Pas encore de compte ?" %} <a href="{% url 'social:user-profile-signup-view' %}">{% trans "Inscrivez-vous</a>, c'est gratuit :)" %}</p>
    </div>
  </div>
  {% else %}
    <p>{% trans "Vous êtes déjà connecté en tant que" %} <a href="{% url 'social:wall-profile-view' user.username %}">{{ user.username }}</a>.</p>
    <a href="{% url 'social:generic-logout' %}">{% trans "Déconnexion" %}</a>
  {% endif %}
{% endblock content %}


{% block page_javascript %}
  <script type="text/javascript">
    $(document).ready(function(){
      $('input').addClass("form-control");
      $('.errorList li').addClass("alert alert-danger");  // Marche pas
    })
  </script>
{% endblock page_javascript %}