{% extends 'social/base.html' %}

{% block title %}Inscription{% endblock %}


{% block h1 %}Inscription{% endblock h1 %}


{% block content %}
<div class="row">
  <div class="col-xs-12">
    <form method="post" enctype="multipart/form-data" action="{% url 'social:user-profile-signup-view' %}">
      {% csrf_token %}
      {{ form.as_p }}
      <p>
        <button type="submit" class="btn btn-primary">Je m'inscris !</button>
        <!-- <input type="submit" value="Je m'inscris !" /> -->
      </p>
    </form>
  </div>
</div>
{% endblock content %}


{% block page_javascript %}
  <script type="text/javascript">
    $(document).ready(function(){
        $('input[type!=file]').addClass("form-control");
      $('.errorList li').addClass("alert alert-danger");  // Marche pas
    })
  </script>
{% endblock page_javascript %}