{% extends 'social/wall_base.html' %}
{% load static %}

{% block title %}{{ wall_profile.profile }}'s wall{% endblock %}


{% block wall_top_form %}
  {% include 'social/widgets/top_post_form.html' with wall=wall_profile user=user %}
{% endblock wall_top_form %}


{% block wall_posts %}
  {# Si au moins 1 post sur ce mur #}
  {% if wall_profile.posts.count > 0 %}
    <div class="col-xs-12">    
      <h3>
        {# Si le profil du mur affiché est celui de l'utilisateur connecté #}
        {% if wall_profile.profile = user %}
        Derniers posts publiés sur votre mur
        {% else %}
        Derniers posts publiés sur le mur de {{ wall_profile.profile.username }}
        {% endif %}
      </h3>
    </div>

    {% for post in wall_profile.posts %}
      
      <!-- POST BLOCK -->
      {% include 'social/widgets/post_block.html' with wall=wall_profile post=post %}
      <!-- END POST BLOCK -->
      
      <!-- POST COMMENTS BLOCK -->
      {% include 'social/widgets/post_comments_block.html' with wall=wall_profile post=post %}
      <!-- END POST COMMENTS BLOCK -->

    {% endfor %}

  {# Si aucun post sur ce mur #}
  {% else %}
  <div class="col-xs-12">
    <h3>
      {# Si le profil du mur affiché est celui de l'utilisateur connecté #}
      {% if wall_profile.profile = user %}
      Aucun post publié sur votre mur
      {% else %}
      Aucun post publié sur le mur de {{ wall_profile.profile.username }}
      {% endif %}
    </h3>
  </div>
  {% endif %}
{% endblock wall_posts %}


{% block page_javascript %}
  <script type="text/javascript">
    $(document).ready(function(){
      $('#post-form-content-input').attr("placeholder", {% if wall_profile.profile = user %}"Exprimez-vous, {{ user.username }}"{% else %}"Écrivez quelque chose à {{ wall_profile.profile.username }}..."{% endif %});
    })
  </script>
{% endblock page_javascript %}
