{% extends 'social/base.html' %}
{% load static %}

{% block title %}Social wall{% endblock %}

{% block retour %}{% endblock %}
{% block content %}
<h1>Bienvenue sur votre mur, {{ user.username }} !</h1>

<div class="row">

  <!-- Si aucun commentaire sur ce mur -->
  {% if False %}
    <div class="col-xs-12">    
      <p>Votre mur est vide : postez votre premier commentaire !</p>
    </div>
  {% endif %}

    <div class="col-xs-12 top-post">
      <div class="row">
        <div class="col-xs-2 col-sm-1">
          <img class="wall-avatar" src="{{ user.avatar.url }}" width="50">
        </div>
        <div class="col-xs-10 col-sm-11 post">
          <form action="" method="POST" role="form">
            {% csrf_token %}
            <div class="input-group">
              <input type="text" class="form-control" id="" placeholder="Exprimez-vous, {{ user.username }}">
              <span class="input-group-btn">
              <button type="submit" class="btn btn-primary">Envoyer</button>
              </span>
            </div>
          </form>        
        </div>
      </div>
    </div>

  <!-- Si aucun commentaire sur ce mur -->
  {% if False %}

  {% else %}

    <div class="col-xs-12" style="margin-top:20px">    
      <h2>Derniers posts publiés sur votre mur</h2>
    </div>

    <div class="col-xs-12 block-infos">
      <div class="row">
        <div class="col-xs-3 col-sm-2 col-md-1">
          <a href="#"><img class="wall-avatar" src="{% static 'avatars/default-avatar.png' %}" width="50"></a>
        </div>
        <div class="col-xs-9 col-sm-10 col-md-11 infos-user">
          <a class="username" href="#"><b>< Nom_user_connected ></b></a>
          <p>9 octobre 2016 12:39</p>
        </div>
      </div>
    </div>
    <div class="col-xs-12">
      <p>Vous avez vu cette nouvelle techno ? http://www.nicolasmura.fr</p>
    </div>
    <div class="col-xs-12 reply-to-post">
      <form action="" method="POST" role="form">
        {% csrf_token %}
        <div class="input-group">
          <input type="text" class="form-control" id="" placeholder="Ajoutez un commentaire">
          <span class="input-group-btn">
          <button type="submit" class="btn btn-primary">Envoyer</button>
          </span>
        </div>
      </form>        
    </div>

    <div class="col-xs-12 block-infos">
      <div class="row">
        <div class="col-xs-3 col-sm-2 col-md-1">
          <a href="#"><img class="wall-avatar" src="{% static 'avatars/default-avatar.png' %}" width="50"></a>
        </div>
        <div class="col-xs-9 col-sm-10 col-md-11 infos-user">
          <a class="username" href="#"><b>< Nom_autre_user_1 ></b></a>
          <p>9 octobre 2016 12:39</p>
        </div>
      </div>
    </div>
    <div class="col-xs-12">
      <p>J'adore les réseaux sociaux</p>
    </div>
    <div class="col-xs-12 reply-to-post">
      <form action="" method="POST" role="form">
        {% csrf_token %}
        <div class="input-group">
          <input type="text" class="form-control" id="" placeholder="Ajoutez un commentaire">
          <span class="input-group-btn">
          <button type="submit" class="btn btn-primary">Envoyer</button>
          </span>
        </div>
      </form>        
    </div>
    
    <div class="col-xs-12 block-infos">
      <div class="row">
        <div class="col-xs-3 col-sm-2 col-md-1">
          <a href="#"><img class="wall-avatar" src="{% static 'avatars/default-avatar.png' %}" width="50"></a>
        </div>
        <div class="col-xs-9 col-sm-10 col-md-11 infos-user">
          <a class="username" href="#"><b>< Nom_user_connected ></b></a>
          <p>9 octobre 2016 12:39</p>
        </div>
      </div>
    </div>
    <div class="col-xs-12">
      <p>Vous avez vu cette nouvelle techno ? http://www.nicolasmura.fr</p>
    </div>
    <div class="col-xs-12 reply-to-post">
      <p><b>< Nom reply-user ></b> : Ouais, c'est cool.</p>
      <p class="reply-to-post-date"><i>Il y a 3 minutes</i></p>
    </div>
    <div class="col-xs-12 reply-to-post">
      <p><b>< Nom reply-user ></b> : Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <p class="reply-to-post-date"><i>Il y a 5 minutes</i></p>
    </div>
    <div class="col-xs-12 reply-to-post">
      <form action="" method="POST" role="form">
        {% csrf_token %}
        <div class="input-group">
          <input type="text" class="form-control" id="" placeholder="Ajoutez un commentaire">
          <span class="input-group-btn">
          <button type="submit" class="btn btn-primary">Envoyer</button>
          </span>
        </div>
      </form>        
    </div>

    <div class="col-xs-12 block-infos">
      <div class="row">
        <div class="col-xs-3 col-sm-2 col-md-1">
          <a href="#"><img class="wall-avatar" src="{% static 'avatars/default-avatar.png' %}" width="50"></a>
        </div>
        <div class="col-xs-9 col-sm-10 col-md-11 infos-user">
          <a class="username" href="#"><b>< Nom_autre_user_1 ></b></a> <i class="fa fa-arrow-right"></i> <a class="username" href="#"><b>< Nom_user_connected ></b></a>
          <p>9 octobre 2016 12:39</p>
        </div>
      </div>
    </div>
    <div class="col-xs-12">
      <p>Vous avez vu cette nouvelle techno ? http://www.nicolasmura.fr</p>
    </div>
    <div class="col-xs-12 reply-to-post">
      <p><b>< Nom reply-user ></b> : Ouais, c'est cool.</p>
      <p class="reply-to-post-date"><i>Il y a 3 minutes</i></p>
    </div>
    <div class="col-xs-12 reply-to-post">
      <p><b>< Nom reply-user ></b> : Carrément.</p>
      <p class="reply-to-post-date"><i>Il y a 5 minutes</i></p>
    </div>
    <div class="col-xs-12 reply-to-post">
      <form action="" method="POST" role="form">
        {% csrf_token %}
        <div class="input-group">
          <input type="text" class="form-control" id="" placeholder="Ajoutez un commentaire">
          <span class="input-group-btn">
          <button type="submit" class="btn btn-primary">Envoyer</button>
          </span>
        </div>
      </form>        
    </div>

    <div class="col-xs-12 block-infos">
      <div class="row">
        <div class="col-xs-3 col-sm-2 col-md-1">
          <a href="#"><img class="wall-avatar" src="{% static 'avatars/default-avatar.png' %}" width="50"></a>
        </div>
        <div class="col-xs-9 col-sm-10 col-md-11 infos-user">
          <a class="username" href="#"><b>< Nom_autre_user_1 ></b></a> <i class="fa fa-arrow-right"></i> <a class="username" href="#"><b>< Nom_autre_user_2 ></b></a>
          <p>9 octobre 2016 12:39</p>
        </div>
      </div>
    </div>
    <div class="col-xs-12">
      <p>Vous avez vu cette nouvelle techno ? http://www.nicolasmura.fr</p>
    </div>
    <div class="col-xs-12 reply-to-post">
      <p><b>< Nom reply-user ></b> : Ouais, c'est cool.</p>
      <p class="reply-to-post-date"><i>Il y a 3 minutes</i></p>
    </div>
    <div class="col-xs-12 reply-to-post">
      <p><b>< Nom reply-user ></b> : Carrément.</p>
      <p class="reply-to-post-date"><i>Il y a 5 minutes</i></p>
    </div>
    <div class="col-xs-12 reply-to-post">
      <form action="" method="POST" role="form">
        {% csrf_token %}
        <div class="input-group">
          <input type="text" class="form-control" id="" placeholder="Ajoutez un commentaire">
          <span class="input-group-btn">
          <button type="submit" class="btn btn-primary">Envoyer</button>
          </span>
        </div>
      </form>        
    </div>

  {% endif %}

</div>
{% endblock %}

