{% extends 'social/wall_base.html' %}
{% load static %}
{% load i18n %}

{% block title %}Social wall{% endblock %}


{% block wall_top_block %}
  {% include 'social/widgets/top_post_form.html' with wall=wall_home user=user %}
{% endblock wall_top_block %}


{% block wall_posts %}
  {# Si au moins 1 post sur OpenFaceRoom #}
  {# A essayer : for - empty - endfor #}
  {% if wall_home.post_objects_list|length > 0 %}
    <div class="col-xs-12 h3">
      <h3>
        {% trans "Dernières publications sur OpenFaceRooms" %}

      </h3>
    </div>

    {% for post_object_dict in wall_home.post_objects_list %}
          
      <div class="clear"></div>
      <div class="post-block-container">
        <!-- POST BLOCK -->
        {% include 'social/widgets/post_block.html' with wall=wall_home post_object=post_object_dict.post_object %}
        <!-- END POST BLOCK -->
        
        <!-- POST COMMENTS BLOCK -->
        {% include 'social/widgets/post_comments_block.html' with wall=wall_home post_object=post_object_dict.post_object %}
        <!-- END POST COMMENTS BLOCK -->
      </div>

    {% endfor %}

  {# Si aucun post sur OpenFaceRoom #}
  {% else %}
  <div class="col-xs-12">
    <h3>
      {% trans "Aucune publication sur OpenFaceRoom" %}

    </h3>
  </div>
  {% endif %}
{% endblock wall_posts %}


{% block page_javascript %}
  <script type="text/javascript">
    $(document).ready(function(){
      $('#post-form-content-input').attr('placeholder', '{% trans "Exprimez-vous" %}, {{ user.username }}{% trans " " %}');

    })
  </script>
{% endblock page_javascript %}