{% extends 'social/base.html' %}
{% load static %}

{% block title %}{{ wall_profile.profile }}'s wall{% endblock %}

{% block retour %}{% endblock %}
{% block content %}
<h1>
  <!-- Si wall_profile = user -->
  {% if wall_profile.profile = user %}
  Bienvenue sur votre mur, {{ user.username }}
  {% else %}
  Vous êtes sur le mur de {{ wall_profile.profile.username }}
  {% endif %}
</h1>

<div class="row">

  <!-- Si aucun commentaire sur ce mur -->
  {% if wall_profile.profile_posts.count = 0 %}
  {# Si le profil du mur affiché est celui de l'utilisateur connecté #}
  {% if wall_profile.profile = user %}
  <div class="col-xs-12">
    <p>Votre mur est vide : postez votre premier commentaire !</p>
  </div>
  {% else %}
  <div class="col-xs-12">
    <p>Le mur de {{ wall_profile.profile.username }} est vide : écrivez-lui !</p>
  </div>
  {% endif %}
  {% endif %}

  {% include 'social/widgets/top_post_form.html' with wall_profile=wall_profile user=user %}

  {# Si aucun post sur ce mur #}
  {% if wall_profile.profile_posts.count != 0 %}

  <div class="col-xs-12">    
    {# Si le profil du mur affiché est celui de l'utilisateur connecté #}
    {% if wall_profile.profile = user %}
    <h3>Derniers posts publiés sur votre mur</h3>
    {% else %}
    <h3>Derniers posts publiés sur le mur de {{ wall_profile.profile.username }}</h3>
    {% endif %}
  </div>

  {% for post in wall_profile.profile_posts %}

  <!-- POST BLOCK -->
  
  {% include 'social/widgets/post_block.html' with post=post %}
    
  <!-- END POST BLOCK -->

  <div class="col-xs-12 comments-block-container">
    <div class="row">
      
      <!-- COMMENTS BLOCK -->
      <div class="col-xs-12 comments-block">
        <div class="row">
    
          <p><i class="fa fa-comment" aria-hidden="true"></i> {{ post.comments.count }} commentaire{% if post.comments.count > 1 %}s{% endif %}</p>
          
          {% for comment in post.comments.all %} 
          <!-- COMMENTS -->
          {% include 'social/widgets/comment_block.html' with comment=comment wall_profile=wall_profile %}
          <!-- END COMMENTS -->
          {% endfor %}

          {% include 'social/widgets/comment_form.html' with wall_profile=wall_profile user=user %}
        </div>
      </div>
      <!-- END COMMENTS BLOCK -->

    </div>
  </div>

  {% endfor %}

  {% endif %}

</div>
{% endblock %}

{% block page_javascript %}
  <script type="text/javascript">
    $(document).ready(function(){
      $('#post-form-content-input').attr("placeholder", {% if wall_profile.profile = user %}"Exprimez-vous, {{ user.username }}"{% else %}"Écrivez quelque chose à {{ wall_profile.profile.username }}..."{% endif %});
    })
  </script>
{% endblock page_javascript %}
