{% extends 'social/wall_base.html' %}
{% load static %}

{% block title %}{{ wall_profile.profile }}'s wall{% endblock %}


{% block wall_top_block %}
  {% include 'social/widgets/top_post_form.html' with wall=wall_profile user=user %}
{% endblock wall_top_block %}


{% block wall_posts %}
  {# Si au moins 1 post sur ce mur #}
  {# A essayer : for - empty - endfor #}
  {% if wall_profile.post_objects_list|length > 0 %}
    <div class="col-xs-12">    
      <h3>
        {# Si l'utilisateur connecté est sur son mur #}{% if wall_profile.profile = user %}Dernières publications sur votre mur{% else %}Dernières publications sur le mur de {{ wall_profile.profile.username }}{% endif %}
      </h3>
    </div>

    {% for post_object_dict in wall_profile.post_objects_list %}
      
      <!-- POST BLOCK -->
      {% include 'social/widgets/post_block.html' with wall=wall_profile post_object=post_object_dict.post_object %}
      <!-- END POST BLOCK -->
      
      <!-- POST COMMENTS BLOCK -->
      {% include 'social/widgets/post_comments_block.html' with wall=wall_profile post_object=post_object_dict.post_object %}
      <!-- END POST COMMENTS BLOCK -->

    {% endfor %}

  {# Si aucun post sur ce mur #}
  {% else %}
  <div class="col-xs-12">
    <h3>
      {# Si l'utilisateur connecté est sur son mur #}{% if wall_profile.profile = user %}Aucune publication sur votre mur{% else %}Aucune publication sur le mur de {{ wall_profile.profile.username }}{% endif %}
    </h3>
  </div>
  {% endif %}
{% endblock wall_posts %}


{% block page_javascript %}
  <script type="text/javascript">
    $(document).ready(function(){
      $('#post-form-content-input').attr("placeholder", {% if wall_profile.profile = user %}"Exprimez-vous, {{ user.username }}"{% else %}"Écrivez quelque chose à {{ wall_profile.profile.username }}..."{% endif %});
    })
  </script>
{% endblock page_javascript %}