{% extends 'social/base.html' %}
{% load static %}


{% block h1 %}
  {# Si on est sur le wall_home) #}
  {% if wall_home %}
    Bienvenue sur le mur d'OpenFaceRooms
  {% else %}  
    {# Si wall_profile = user #}
    {% if wall_profile.profile = user %}
      Bienvenue sur votre mur, {{ user.username }}
    {% else %}
      Vous êtes sur le mur de {{ wall_profile.profile.username }}
    {% endif %}
  {% endif %}
{% endblock h1 %}


{% block content %}
  {% if user.is_authenticated %}
    {# Si on est sur le wall_home) #}
    {% if wall_home and wall_home.post_objects_list|length = 0 %}
      <p>Le mur d'OpenFaceRoom est vide : soyez le premier à réagir !</p>
    {% endif %}
    {# Si l'utilisateur connecté est sur son mur #}
    {% if wall_profile and wall_profile.profile = user and wall_profile.post_objects_list|length = 0 %}
        <p>Votre mur est vide : postez votre première publication !</p>
    {% endif %}
    {# Si l'utilisateur connecté est sur le mur d'un autre utilisateur #}
    {% if wall_profile and wall_profile.profile != user and wall_profile.post_objects_list|length = 0 %}  
        <p>Le mur de {{ wall_profile.profile.username }} est vide : écrivez-lui !</p>
    {% endif %}
  {% else %}
    <p>Vous devez <a href="{% url 'social:user-profile-signup-view' %}">vous inscrire</a> ou vous <a href="{% url 'social:generic-login-view' %}">vous connecter</a> pour pouvoir vous exprimer.</p>
  {% endif %}
  <div class="row">
    {% block wall_top_form %}{% endblock wall_top_form %}
    {% block wall_posts %}{% endblock wall_posts %}
  </div>
{% endblock content %}