{% extends 'social/wall_base.html' %}
{% load static %}

{% block title %}Social wall{% endblock %}


{% block wall_top_form %}
  {% include 'social/widgets/top_post_form.html' with wall=wall_home user=user %}
{% endblock wall_top_form %}


{% block wall_posts %}
  {# Si au moins 1 post sur OpenFaceRoom #}
  {% if wall_home.posts.count > 0 %}
    <div class="col-xs-12">
      <h3>
        Derniers posts publiés sur OpenFaceRoom
      </h3>
    </div>

    {% for post in wall_home.posts %}
          
      <!-- POST BLOCK -->
      {% include 'social/widgets/post_block.html' with wall=wall_home post=post %}
      <!-- END POST BLOCK -->
      
      <!-- POST COMMENTS BLOCK -->
      {% include 'social/widgets/post_comments_block.html' with wall=wall_home post=post %}
      <!-- END POST COMMENTS BLOCK -->

    {% endfor %}

  {# Si aucun post sur OpenFaceRoom #}
  {% else %}
  <div class="col-xs-12">
    <h3>
      Aucun post publié sur OpenFaceRoom
    </h3>
  </div>
  {% endif %}
{% endblock wall_posts %}


{% block page_javascript %}
  <script type="text/javascript">
    $(document).ready(function(){
      $('#post-form-content-input').attr("placeholder", "Exprimez-vous, {{ user.username }}");
    })
  </script>
{% endblock page_javascript %}