{% extends 'social/base.html' %}
{% load static %}


{% block h1 %}
  {# Si on est sur le wall_home) #}
  {% if not wall_profile %}
    Bienvenue sur le mur d'OpenFaceRooms
  {% else %}  
    {# Si wall_profile = user #}
    {% if wall_profile.profile = user %}
      Bienvenue sur votre mur, {{ user.username }}
    {% else %}
      Vous êtes sur le mur de {{ wall_profile.profile.username }}
    {% endif %}
  {% endif %}
{% endblock h1 %}

{% block content %}

{% if user.is_authenticated %}
  {# Si on est sur le wall_home) #}
  {% if wall_home and wall_home.posts.count = 0 %}
    <p>Le mur d'OpenFaceRoom est vide : soyez le premier à réagir !</p>
  {% else %}
    {# Si aucun commentaire sur ce mur #}
    {% if wall_profile.posts.count = 0 %}
      {# Si le profil du mur affiché est celui de l'utilisateur connecté #}
      {% if wall_profile.profile = user %}
        <p>Votre mur est vide : postez votre premier commentaire !</p>
      {# Sinon... #}
      {% else %}
        <p>Le mur de {{ wall_profile.profile.username }} est vide : écrivez-lui !</p>
      {% endif %}
    {% endif %}
  {% endif %}
{% else %}
  <p>Vous devez <a href="{% url 'social:generic-signup-view' %}">vous inscrire</a> ou vous <a href="{% url 'social:generic-login-view' %}">vous connecter</a> pour pouvoir publier un post.</p>
{% endif %}

<div class="row">

  {% block wall_top_form %}{% endblock wall_top_form %}

  {% block wall_posts %}{% endblock wall_posts %}

</div>
{% endblock content %}